<app-alert-messages></app-alert-messages>

<div class="cont"  *ngIf="!isVisible">
  <div>
    <form>
      <label for="nome-pessoa" class="form-label">Diga seu nome: </label>
      <input type="text" class="form-control" id="nome-pessoa" name="nome-pessoa" [(ngModel)]="pessoa.nome" placeholder="Nome" />
      <label for="nascimento" class="form-label">Diga sua data de nascimento: </label><br>
      <ngb-datepicker [(ngModel)]="nasc" name="data-nascimento"></ngb-datepicker><br>
      <button class="btn btn-primary  col-sm-12" style="margin-top: 10px;" (click)="send()">Verificar</button>
    </form>
  </div>
  <div>
    <app-zodiac></app-zodiac>
  </div>
</div>

<div >
  <img src= />
  <p>
     ,
  </p>
</div>

<div class="card cardResult" style="width:400px" *ngIf="isVisible">
  <img class="card-img-top" src={{pessoaSignoRetorno.imagem}} alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{pessoaSignoRetorno.nomePessoa}}</h4>
    <p class="card-text">você é do signo de {{pessoaSignoRetorno.nomeSigno}}
      e {{pessoaSignoRetorno.caracteristicas}}</p>
    <a href="#" class="btn btn-secondary" onclick="location.reload()">Retorna</a>
  </div>
</div>
