.cont div {

  width: 100%;
  height: 400px;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;

}

.cont {
  display: flex;
}

.cardResult{
  text-align: center;
}

.cardResult img{
  width: 200px;
}
